[Unit] 
Description=DotNet Core application on Linux 

[Service] 
WorkingDirectory=/var/www/dpw_api
ExecStart=/usr/bin/dotnet /var/www/dpw_api/DPW.Receipts.API.dll 
Restart=always 
RestartSec=10 # Restart service after 10 seconds if dotnet service crashes 
SyslogIdentifier=offershare-web-app
Environment=ASPNETCORE_ENVIRONMENT=Development
Environment=ASPNETCORE_URLS=http://localhost:6000/

[Install] 
WantedBy=multi-user.target