
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link disabled"  href="#">Upload CSV</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Data Preview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#"  aria-current="page">Export Excel</a>
  </li>
  @*<li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>*@
</ul>
<p>Excel file is ready for download. Kindly find the link below</p>
<a href="@ViewBag.excelwebPath">Excel file</a>